
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f9f9f9; 
  }
  
  .employee-detail {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    background-color: rgba(132, 79, 182, 0.575);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .error-message {
    text-align: center;
    color: red;
    font-weight: bold;
  }
  